:host {
    width: 80%;
    margin: 0 auto;
    display: flex;
    border: dashed 3px var(--font-color);
}

.comment-card-left {
    margin: 14px 0 0 14px;
}

.comment-card-user {
    width: max-content;
    padding-bottom: 6px;
    border-bottom: 2px dashed var(--accent-color);
}

.comment-card-middle {
    width: 100%;
    margin: 16px 24px;
    padding: 20px;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: var(--secondary-color);
}

.comment-card-right {
    margin: auto 6px 6px 0;
    font-size: var(--mini-text);
    white-space: nowrap;
}

@media only screen and (max-width: 1280px) {
    :host {
        flex-direction: column;
    }

    .comment-card-middle {
        margin: 10px 24px;
        width: auto;
    }

    .comment-card-right {
        margin: 0 6px 6px auto;
    }
}