<div *ngIf="blogPost" class="blog-post-container">
  <h1 class="blog-post-h1">{{ blogPost.title }}</h1>
  <div class="blog-post-h1-separator"></div>
  <div class="blog-post">
    <h2 class="blog-post-h2">
      {{ blogPost.author }}
    </h2>
    <div [innerHTML]="blogPost.content" class="blog-post-content"></div>
    <p class="blog-post-publish-date">
      {{ blogPost.publish_date }}
    </p>
  </div>
  <div *ngIf="comments.length > 0" class="blog-post-comment-separator"></div>
  <div *ngFor="let comment of paginatedComments; let last = last">
    <app-comment-card [comment]="comment"></app-comment-card>
    <div *ngIf="!last" class="comment-separator"></div>
  </div>
  <app-blog-post-comment-navigation (currentPageChange)="displayCurrentPageComments(this.comments, this.rows, $event)" [blogPostId]="blogPostId" [pageCount]="pageCount" [(currentPage)]="currentPage" [pageButtons]="pageButtons" [(isCreatingComment)]="isCreatingComment"></app-blog-post-comment-navigation>
  <div *ngIf="isCreatingComment" class="comment-separator"></div>
  <app-add-comment *ngIf="isCreatingComment" [comments]="comments" [blogPostId]="blogPostId" (emitAddedComment)="displayNewComment()"></app-add-comment>
</div>
