<main class="main">
  <a routerLink=".." aria-label="go back"><svg class="go-back-arrow-icon" [ngClass]="{'disabled': isOnHomeScreen}" viewBox="0 -0.5 20 20" shape-rendering="crispEdges"><path d="M7 2h2M6 3h3M4 4h5M4 5h4M2 6h6M2 7h14M1 8h18M1 9h18M1 10h18M2 11h14M2 12h6m-4 1h4m-4 1h5m-3 1h3m-2 1h2"/></svg></a>
  <svg (click)="handleColorTheme()" class="dark-light-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 20 20" shape-rendering="crispEdges"><path d="M9 1h2M9 2h2M3 3h2m4 0h2m4 0h2M3 4h3m8 0h3M4 5h2m3 0h2m3 0h2M7 6h6M6 7h8M6 8h8M1 9h3m1 0h10m1 0h3M1 10h3m1 0h10m1 0h3M6 11h8m-8 1h8m-7 1h6m-9 1h2m3 0h2m3 0h2M3 15h3m8 0h3M3 16h2m4 0h2m4 0h2m-8 1h2m-2 1h2"/></svg>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <p>Created by...</p>
</footer>