<form class="comment-form" [formGroup]="commentForm" (ngSubmit)="addComment()">
    <app-quote-comment *ngIf="commentService.quotedComment" [quotedComment]="commentService.quotedComment"></app-quote-comment>
    <label class="comment-user-label">
        Name:
        <input type="text" formControlName="user" class="comment-user">
        <p *ngIf="(user.errors?.['required']) && (user.touched || user.dirty)" class="error-message user-error">
            Insert a name
        </p>
    </label>
    <label class="comment-content-label">
        Comment
        <textarea formControlName="content" class="comment-content" (input)="autoGrowSize()"></textarea>
        <p *ngIf="(content.errors?.['minlength'] || content.errors?.['required']) && (user.touched || user.dirty)" class="error-message">
            Minimum 5 characters
        </p>
    </label>
    <button class="comment-button-send" type="submit">Send</button>
</form>